@import "/src/style/colors.scss";

$table_header: map-get($background_colors_light_theme, "primary");
$table_header_border: transparent;
$table-border: map-get($table, "border");
$row-bg: map-get($table, "row-bg");

$table_header_dark: map-get($background_colors_dark_theme, "primary");

div {
  box-sizing: border-box;
}
.table {
  overflow-x: auto;
}

.m-horizontal-15 {
  margin: 0px 15px;
}

.icon {
  cursor: pointer;
}

.right_icon {
  margin-left: 5px;
  cursor: pointer;
  &.dark {
    filter: invert(100%);
  }
}

.table_container {
  display: block;
  min-width: 800px;
  // max-width: 850px;
  // max-height: 505px;
  overflow-y: auto;
  position: relative;
  // padding-bottom: 20px;
}

.flag_icon {
  margin-right: 0.1em;
}
.flex_nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.flex_table {
  display: flex;
  flex-flow: row wrap;
  margin-left: 3px;
  margin-right: 3px;

  // border-left: solid 1px $table_border;
  // transition: 0.5s;
  &:first-of-type {
    border: solid 1px $table_header_border;
    align-items: center;
    position: sticky;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 10px;
    top: 0;
    background-color: $table_header;
    &.dark {
      background: $table_header_dark;
    }
  }
  &:first-of-type .flex_row {
    // background: $table_header;
    border-color: $table_header_border;
    padding: 0.5em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    &.dark {
      // background: $table_header_dark
    }
  }
}

.flex_row {
  text-align: center;
  padding: 20px 15px;
}

.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;
  .flex_row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    &:hover {
      background: #f5f5f5;
    }
  }
}

.flex_cell {
  width: calc(100% / 3); //1px = border right
  text-align: center;
  padding: 0.5em 0.5em;
  // border-right: solid 1px $table-border;
  //flex: 1 1 33.3%;
  &:last-child {
    // border-right: 0;
  }
}
