@import "/src/style/colors.scss";

.navbar {
  display: flex;
  flex-direction: column;
  padding: 15px;
  .navbar_section {
    &__hr {
      margin: 30px 0;

      color: map-get($navigation, 'hr');
    }
  }
  &.dark {
    background-color: map-get($navigation_dark, 'bachground');
    color: map-get($navigation_dark, 'active_link_primary');

  }
}
