@import "/src/style/colors.scss";
// button_colors_dark_theme
.link {
  display: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  display: block;
  text-align: left;
  color: map-get($font_colors_light_theme, "primary");
  text-decoration: none;
  padding: 15px 20px 15px 40px;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 0 1px map-get($navigation, "primary");
  }
  &.active {
    background-color: map-get($navigation, "primary");
    color: map-get($navigation, "active_link_primary");
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    left: 10px;
  }
  &.dark {
    // background-color: map-get($navigation_dark, "bachground");
    color: map-get($font_colors_dark_theme, "primary");
    &:hover {
      box-shadow: 0 0 0 1px map-get($navigation, "active_link_primary");
    }
    &.active {
      background-color: map-get($navigation, "primary");
      color: map-get($navigation, "active_link_primary");
    }
  }
}

.sub_link {
  font-size: 15px;
  color: map-get($font_colors_light_theme, "primary");
  font-weight: 400;
  padding: 10px;
  margin: 3px 10px 3px 0;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 0 1px map-get($navigation, "secondary");
  }
  &.active {
    font-weight: 500;
    color: map-get($font_colors_light_theme, "primary");
    background-color: map-get($navigation, "secondary");
    text-decoration: none;
  }
  &.dark {
    // .sub_link {
    color: map-get($font_colors_dark_theme, "primary");
    &:hover {
      box-shadow: 0 0 0 1px map-get($navigation_dark, "secondary");
    }
    &.active {
      color: map-get($font_colors_light_theme, "primary");
      background-color: map-get($navigation_dark, "secondary");
    }
    // }
  }
}

.link_container {
  position: relative;
}

.link {
  &.active {
    .link__chevron_down,
    .link__icon {
      filter: invert(100%) sepia(100%);
    }
  }
  &__chevron_down {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
  &.dark {
    &.active {
      .link__chevron_down,
      .link__icon {
      filter: invert(0%) sepia(0%);

        path{
          fill: map-get($navigation_dark, "active_link_primary");
        }
      }
    }
    .link__chevron_down,
    .link__icon {
      path {
        fill: map-get($navigation_dark, "active_link_primary");
      }
    }
  }
}
