.link {
  display: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  display: block;
  text-align: left;
  color: #14142a;
  text-decoration: none;
  padding: 15px 20px 15px 40px;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 0 1px #4b47ff
  }
  &.active {
    background-color: #4b47ff;
    color: #fff;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    left: 10px;
  }
}

.sub_link {
  font-size: 15px;
  color: #14142a;
  font-weight: 400;
  padding: 10px;
  margin: 3px 10px 3px 0;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 0 1px #c5c4ff;

  }
  &.active {
    font-weight: 500;
    color: #14142a;
    background-color: #c5c4ff;
    text-decoration: none;
  }
}

.link_container {
  position: relative;
}

.link {
  &.active {
    .link__chevron_down,
    .link__icon {
      filter: invert(100%) sepia(100%);
    }
  }
  &__chevron_down {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
}
