@import url("https://fonts.cdnfonts.com/css/montserrat");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.route-block {
  display: flex;
  height: calc(100vh - 60px);
}
.route-screens {
  flex: 1;
  background-color: #eaeaea;
}
.router-checking {
  display: flex;
  flex-direction: column;
}

// temporary
h1 {
  // font-family: "Montserrat";
  // font-style: normal;
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 44px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

h2 {
  // font-family: "Montserrat";
  // font-style: normal;
  // font-weight: 600;
  // font-size: 20px;
  // line-height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
