@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.route-block {
  display: flex;
  height: calc(100vh - 60px);
}
.route-screens{
  flex: 1;
  background-color: #eaeaea;
}
.router-checking {
  display: flex;
  flex-direction: column;
}


