.m_horizontal_15 {
  margin: 0px 15px;
}

.table_header_buttons_container{
  width: 200px;
  display: flex;
  margin-bottom: 20px;
  button {
    flex: 1;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.flex_nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.icon {
  cursor: pointer;
  &.dark {
    filter: invert(100%) sepia(0%);
  }
}
