.header {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.input_container {
  max-width: 25%;
}

.button_container {
  max-width: 25%;

  &__icon {
    margin-left: 8px;
  }
}
